@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
html {
  scroll-behavior: smooth;
}
body{
	font-family: 'Quicksand', sans-serif;
}
.header__hd{
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	&::after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		max-width: 100%;
		transform: rotate(-6deg);
		margin-top: -30%;
		margin-left: -30%;
		margin-bottom: 2.3%;
		min-height: 95vh;
		border-radius: 48px;
		background-color: #0180FF;
		background: linear-gradient(to left, rgba(126,5,255,1) 0%, rgba(0,115,255,1) 100%);
		z-index: -1;
	}
	.external__links{
		li a{
			color: #f9f9f9;
		}
	}
	.content_hd{
		margin-top: 30%;
		.brand__name{
			color: #ffffff;
			line-height: 28px;
			font-weight: bolder;
		}
		.caption__text{
			font-size: 13px;
			color: rgba(255,255,255,0.6);
		}
		.slug__title{
			color: #FFE713;
			font-size: 48px;
			font-weight: bolder;
			line-height: 36px;
			span{
				font-weight: normal!important;
				font-size: 28px!important;
				color: rgba(255,255,255,0.6)!important;
			}
		}
		.paragraph__text{
			color: #ffffff;
			font-size: 15px;
			font-weight: lighter;
			letter-spacing: 1px;
		}
	}
	.profile__hd{
		max-width: 100%;
		width: 400px;
		border: 2px solid #FFE713;
		border-radius: 48px;
		box-shadow: rgba(0,0,0,0.3) 0px 5px 15px;
		margin-top: 25%;
		display: block;
	}
}
/*Common style */
	section{
		overflow: hidden;
		padding: 10vh 0;
		.title__grey{
			color: #e1e1e1;
			text-transform: uppercase;
			span{
				border-bottom: 1px solid #FFE713;
			}
		}
		.section__title{
			font-weight: bold;
			color: #FFE713;
		}
		.section__text{
			font-size: 15px;
		}
	}


/*about__information*/
	.about__information{
		padding-top: 260px;
		.block__item{
			height: 140px;
			margin-bottom: 24px;
			overflow: hidden;
			border-radius: 7px;
			padding: 24px;
			box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
			text-align: center;
			
			.block__img{
				height: 58px;
			}
			span{
				padding-top: 12px;
				font-size: 15px;					
			}
		}			
		
		.site__highlight{
			position: relative;
			.highlighted__text{
				background-color: #0180FF;
				padding: 24px;
				border-radius: 24px;
				position: absolute;
				right: 0;
				top: -50%;
				width: 280px;
			}
		}
	}


// Portfolio section	
.portfolio__area{
	.project__gallery{		
		position: relative;
		margin: 18px auto;
		.gallery__img{
			width: 100%;
			height: 390px;
			object-fit: cover;
			object-position: center;
			display: block;
			border-radius: 12px;
			border: 2px solid rgba(0,0,0,0.05);
			transition: ease 0.1s;
		}
		.ext__link{
			display: block;
			position: absolute;
			background-color: #ffffff;
			box-shadow: 0 5px 15px rgba(0,0,0,0.05);
			overflow: hidden;
			width: 80%;
			height: auto;
			overflow: hidden;
			padding: 17px;
			border-radius: 7px;
			left: 0;
			bottom: -48px;
			margin-left: 10%;
			z-index: -9;
			opacity: 0;
			transition: ease-out 0.15s;
			cursor: pointer;
			box-sizing: border-box;
			.ext__name{
				float: left;
				font-size: 17px;
				font-weight: medium;
				width: 90%;
				color: #0180FF;
			}
			.ext__icon{
				float: right;
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -10px;
				height: 20px;
				path{
					fill: #0180FF;
				}
			}
		}

		&:hover{
			.gallery__img{
				filter: grayscale(100%);
				opacity: 0.5;
			}
			.ext__link{
				bottom: -12px;
				z-index: 9;
				opacity: 1;	
				background-color: #ffffff;	
				&:hover{
					background-color: #0180FF;	
					.ext__name{
						color: #ffffff;
					}
					.ext__icon{
						path{
							fill: #ffffff;
						}
					}
				}
			}
		}
	}
}



// works__process
.works__process{
	.process_block{
		.subtitle__text{
			color: #007bff;
		}
		.icon__set{
			position: relative;
			display: block;
			margin-bottom: 0;
			.icon{
				position: absolute;
				left: 0px;
				width: 32px;
				top: 36px;
				fill: #000000;
			}
			.steps{
				display: block;
				font-size: 72px;
				font-weight: bold;
				color: #f9f9f9;
				padding-left: 15px;
			}
		}
	}
}


// site__footer
footer{
	margin-bottom: 5vh;
	.site__footer{
		position: relative;
		padding: 72px;
		.social__icon{
			li a{
				img{
					height: 36px;
					margin: 6px;
				}
			}
		}
		.site__text{
			a{
				font-weight: bold;
				text-decoration: underline;
			}
		}
		&::after{
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #FFE713;
			border-radius: 160px;
			z-index: -1;
			transform: rotate(-3deg);
		}
	}
}


/* Responsive styles */
@media only screen and (max-width: 990px){
	.about__information{
		padding-top: 10vh;
			.site__highlight{
				margin-top: 48px;
				.highlighted__text{
					top: auto;
					bottom: -48px;
					width: 60%;
				}
			}
	}


	// Footer
	footer{
		margin-bottom: 5vh;
		.site__footer{
			padding: 32px;
		}
	}
}
@media only screen and (max-width: 768px){
	.header__hd{
		&::after{
			margin-top: -30%;
			margin-left: -30%;
			max-width: 120%;			
			height: 65vh;
			min-height: 0;
			border-radius: 48px;
			transform: rotate(-9deg);
		}
		.content_hd{
			text-align: center!important;
		}
		.profile__hd{
			border-radius: 50%;
			width: 220px;
			margin: 0 auto;
			margin-top: 6vh;
		}
	}
	.about__information{
		padding-top: 10vh;
			.site__highlight{
				margin-top: 48px;
				.highlighted__text{
					top: auto;
					bottom: -54px;
					width: 75%;
				}
			}
	}
}
// For run with scss
// sass --watch scss/master.scss:css/style.css --style compressed;