// SASS WATCHER COMMAND
// sass --watch master.scss:style.min.css --style compressed

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap');
$font-primary: serif;
$font-secondary: 'Josefin Sans', sans-serif;
$primary-text: rgba(255,255,255,1);
$primary-color: #005868;
$secondary-color: #FFFF00;
$highlight-color: #BF1374;

/* width */
::-webkit-scrollbar {
    width: 2px;
    background-color: $primary-color;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: $secondary-color;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: $font-primary;    
    #wrapper{        
        min-height: 100vh;
        position: relative;
        backdrop-filter: blur(35px);
        background-color: rgba($primary-color, 0.90);
        z-index: 1;
        .container{
            width: 100%;
            max-width: 1600px;
            padding-left: 16px;
            padding-right: 16px;
            box-sizing: border-box;
            overflow: hidden;
            margin: 0 auto;
            .row_100{
                width: 100%;
                height: auto;
                overflow: hidden;
                box-sizing: border-box;
                display: flex;

                .col-10{
                    max-width: 10%;
                    @extend %column_style;
                }
                .col-20{
                    max-width: 20%;
                    @extend %column_style;
                }
                .col-30{
                    max-width: 30%;
                    @extend %column_style;
                }
                .col-33{
                    max-width: 33.333%;
                    @extend %column_style;
                }
                .col-40{
                    max-width: 40%;
                    @extend %column_style;
                }
                .col-50{
                    max-width: 50%;
                    @extend %column_style;
                }
                .col-60{
                    max-width: 60%;
                    @extend %column_style;
                }
                .col-70{
                    max-width: 70%;
                    @extend %column_style;
                }
                .col-80{
                    max-width: 80%;
                    @extend %column_style;
                }
                .col-90{
                    max-width: 90%;
                    @extend %column_style;
                }
                .col-100{
                    max-width: 100%;
                    @extend %column_style;
                }
                // column styles
                %column_style{
                    padding: 0;
                    box-sizing: border-box;
                    overflow: hidden;                    
                    width: 100%;
                }
            }
        }


        // Default section styles
        section{
            height: auto;
            height: auto;
            box-sizing: border-box;
            overflow: hidden;
        }
        


        // primary navigation panel design
        .main_nav{
            width: 100%;
            padding: 12px 0;
            border-bottom: 1px dotted rgba($secondary-color, .30);
            .logo{
                overflow: hidden;
            }
            .nav_items{
                padding: 0;
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;     
                justify-content: center;
                li{
                    display: inline-block;                    
                    margin: 0 12px;
                    padding: 16px;
                    a{
                        color: $primary-text;
                        position: relative;
                        text-decoration: none;
                        padding: 6px;
                        font-size: 22px;
                        font-weight: lighter;
                        font-family: $font-primary;
                        &:hover{
                            color: $secondary-color;
                        }
                    }                
                }
            }
            .hire_me_btn{
                display: flex;
                width: 100%;
                align-items: center;
                height: 100%;
                justify-content: end;
                a{
                    display: block;
                    color: $secondary-color;
                }
            }
        }


        // header area design
        .header{
            position: relative;
            min-height: 100vh;
            display: flex;
            .header-content{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .heading_text{
                    font-size: 72px;
                    font-family: inherit;
                    font-weight: lighter;
                    color: $primary-text;
                    .hl_text{
                        color: $secondary-color;
                        text-decoration: underline;
                    }
                }
                .subheading_text{
                    font-size: 28px;
                    font-weight: lighter;
                    font-family: $font-secondary;
                    color: $primary-text;
                    line-height: 36px;
                    padding-right: 10%;
                    margin: 32px 0;
                }
                .raw_shape{
                    width: 100%;
                    height: 48px;                    
                    margin: 10% 0;                    
                    position: relative;
                    span{
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 50%;
                        left: 24px;
                        margin-top: -3px;
                        margin-left: -3px;
                        border-radius: 50%;
                        background-color: $secondary-color;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 48px;
                        height: 48px;
                        border: 2px dotted $secondary-color;
                        border-radius: 50%;
                        animation: spinInfinite 3s infinite linear forwards;
                        transform: rotate(360);
                        opacity: 0.7;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 56px;
                        top: 50%;
                        border-bottom: 1px dotted $secondary-color;
                        width: 60%;
                        margin-top: 1px;
                        opacity: 0.3;
                    }
                    @keyframes spinInfinite {
                        from{ 
                            transform: rotate(0deg);
                        }
                        to{
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            .header-image{
                width: 100%;
                padding: 15% 0;
                transition: ease 0.3s;
                img{
                    width: 100%;
                    height: auto;
                    display: block;                    
                }
                &:hover{                    
                    transform: scale(0.95) skew(-0.01turn, 5deg); 
                    user-select: none;
                }
            }
            
        }


        // About me
        .about{
            padding: 120px 0;
            .container{
                position: relative;
                .about_heading{
                    font-size: 280px;
                    font-family: $font-secondary;
                    font-weight: bold;
                    line-height: 180px;
                    color: rgba(0,0,0, .10);
                    position: absolute;
                    margin-top: 0px;
                    top: 0;
                    left: 0;
                }
            }
            .about_me_typo{
                font-size: 48px;
                font-weight: lighter;
                color: $primary-text;
                font-family: $font-primary;                            
                text-align: center;
                line-height: 64px;
                max-width: 1280px;
                margin: 0 auto;
                padding-top: 140px;
                .skills{
                    display: block;
                    text-align: left;
                    color: $secondary-color;
                    text-decoration: underline;
                }
            }
        }

        // Projects case study
        .projects{
            padding: 120px 0;
            .project_block{
                width: 98%;
                height: 640px;
                margin: 6px auto;                
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                .area_title{
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    h1{
                        margin: 0;
                        font-size: 120px;
                        font-weight: bold;
                        font-family: $font-secondary;
                        color: $primary-text;
                    }
                }
                .project_cover{
                    display: block;
                    object-fit: cover;
                    object-position: left bottom;                    
                    width: 100%;
                    height: 100%;
                    transition: ease 0.5s;
                }

                .text_overlay{
                    position: absolute;
                    left: 0;
                    bottom: 0;                    
                    width: 100%;
                    height: auto;
                    z-index: 9;
                    box-sizing: border-box;
                    padding: 24px;
                    transform: translateY(100%);
                    transition: ease 0.7s;
                    .project_title{
                        font-size: 28px;
                        font-weight: lighter;
                        color: $primary-text;
                        margin: 12px 0;
                    }
                    .use_case{
                        font-size: 16px;
                        color: $primary-text;
                        font-family: $font-secondary;
                        font-weight: lighter;
                    }
                    .project_link{
                        color: $secondary-color;
                        font-size: 42px;
                        font-weight: lighter;
                        text-decoration: none;
                        display: block;
                        margin: 24px 0;
                        position: relative;
                        span{
                            position: absolute;
                            width: 24px;
                            height: 1px;
                            background-color: $secondary-color;
                            top: 50%;
                            right: 0;
                            transition: ease 0.3s;
                        }
                        &:hover{                            
                            span{
                                width: 48px;
                            }
                        }
                    }
                }

                &:hover{
                    .project_cover{
                        filter: blur(70px) opacity(0.5);
                        object-position: center;
                    }

                    .text_overlay{
                        transform: translateY(0);
                    }
                }
            }
            .external_link{
                display: block;
                text-align: right;
                padding: 12px 6px;
                font-size: 32px;
                font-family: $font-primary;
                font-style: italic;
                text-decoration: none;
                color: $primary-text;
                transition: ease 0.3s;
                span{
                    text-decoration: underline;
                    color: $secondary-color;
                }
                &:hover{
                    padding-right: 0px;
                }
            }
        }



        // Design Process
        .design_process{
            padding: 120px 0;
            display: flex;
                align-items: center;
            .container{                
                .glass_backg{
                    background-color: rgba(0,0,0, .07);
                    border-radius: 16px;
                    padding: 48px;
                    box-sizing: border-box;
                    .heading_row{
                        display: block;
                        width: 100%;
                        .title{
                            font-size: 48px;
                            color: $primary-text;
                            font-family: $font-secondary;
                            margin: 12px 0;
                            display: block;
                            width: 100%;
                        }
                        .text_info{
                            display: block;
                            width: 100%;
                            font-size: 28px;
                            font-family: $font-secondary;
                            color: $primary-text;
                            font-weight: lighter;
                            border: 1px dotted rgba($primary-text, 0.3);
                            margin: 0;
                            padding: 12px 0;
                            border-left: 0;
                            border-right: 0;
                        }
                    }
                    .col-33{
                        position: relative;
                        &:after{
                            position: absolute;
                            content: "";
                            right: 10%;
                            width: 2px;
                            top: 10%;
                            bottom: 0%;
                            border-right: 1px dotted rgba($primary-text, 0.3);
                        }
                        &:nth-last-child(1):after{
                            display: none;
                        }
                        .process_type{
                            margin: 24px 0;
                            margin-top: 48px;
                            font-size: 28px;
                            font-weight: lighter;
                            font-family: $font-primary;
                            color: $secondary-color;
                        }
                        .process_brief{
                            margin: 0;
                            display: block;
                            padding-right: 25%;
                            font-size: 28px;
                            line-height: 36px;
                            font-family: $font-secondary;
                            font-weight: lighter;
                            color: $primary-text;
                            padding-bottom: 24px;
                        }
                    }
                }
            }
        }


        // working experiences
        .work_experiences{
            position: relative;
            .exp_title{
                font-size: 76px;
                font-family: $font-secondary;
                color: $primary-text;                
                display: block;
                position: absolute;
                transform: rotate(-90deg);
                top: 40%;   
                left: 0;             
            }
            .experience_card{
                width: 100%;                
                max-width: 820px;
                margin: 120px auto;
                .item{
                    margin: 0 auto;
                    padding-top: 24px;
                    border-bottom: 1px dashed rgba($secondary-color, .30);   
                    transition: ease 0.3s;             
                    &:nth-last-child(1){
                        border-bottom: none;
                    }
                    .duration{
                        font-family: $font-secondary;
                        font-size: 28px;
                        font-weight: lighter;
                        color: $primary-text;
                        margin: 12px 0;
                    }
                    .title{
                        margin: 12px 0;
                        font-size: 42px;
                        font-family: $font-primary;
                        font-weight: lighter;
                        color: $secondary-color;
                    }
                    .label{
                        margin: 0;
                        color: $primary-text;
                        font-family: $font-secondary;
                        font-size: 28px;
                        font-weight: lighter;
                        margin: 12px 0;
                        padding-bottom: 24px;
                    }
                    &:hover{
                        transform: translate(10px, -10px);
                        user-select: none;
                    }
                }
            }
        }


        // main_footer
        .main_footer{
            border: 1px solid rgba($secondary-color,0.15);
            border-left: 0;
            border-right: 0;
            .content_contact{
                height: 100%;
                border-left: 1px solid rgba($secondary-color,0.15);
                display: flex;
                align-items: center;
                padding: 24px;
                .title_txt{
                    font-size: 48px;
                    color: $secondary-color;
                    font-weight: lighter;
                    margin-bottom: 32px;
                }
                .info_txt{
                    font-size: 22px;
                    line-height: 28px;
                    color: $primary-text;
                    font-family: $font-secondary;
                    font-weight: lighter;
                }
            }
            .social-content{
                border-left: 1px solid rgba($secondary-color,0.15);
                border-right: 1px solid rgba($secondary-color,0.15);
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .nav{
                    width: 50%;
                    height: 320px;
                    border: 1px solid rgba($secondary-color,0.15);
                    box-sizing: border-box;
                    padding: 2px;
                    &:nth-child(1){
                        border-left: 0;
                        border-top: 0;
                        a:hover{
                            svg>path{
                                fill: #1100FF!important;
                            }
                            span{
                                color: #1100FF;
                            }
                        }
                    }
                    &:nth-child(2){
                        border-left: 0;
                        border-top: 0;
                        border-right: 0;
                        a:hover{
                            svg>path{
                                fill: #000000;
                            }
                            span{
                                color: #000000;
                            }
                        }
                    }
                    &:nth-child(3){
                        border-left: 0;
                        border-top: 0;
                        border-bottom: 0;
                        a:hover{
                            svg>path{
                                fill: #0a66c2;
                            }
                            span{
                                color: #0a66c2;
                            }
                        }
                    }
                    &:nth-child(4){
                        border-left: 0;
                        border-right: 0;
                        border-top: 0;
                        border-bottom: 0;
                        
                        a:hover{
                            svg>path{
                                fill: $highlight-color;
                            }
                            span{
                                color: $highlight-color;
                            }
                        }
                    }    
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 24px;
                        box-sizing: border-box;
                        transform: scale(0.98);
                        transition: ease 0.3s;
                        padding-top: 35%;
                        font-size: 22px;
                        font-family: $font-secondary;
                        text-decoration: none;
                        color: $primary-text;
                        position: relative;
                        svg{
                            height: 36px;
                        }
                        span{
                            display: block;
                            padding-left: 8px;
                            margin-top: 12px;
                        }
                        .imp_text{
                            position: absolute;
                            font-size: 28px;
                            font-family: $font-primary;
                            top: 12px;
                            right: 12px;
                            color: $highlight-color;
                            opacity: 0;
                        }
                        &:hover{
                            transform: scale(1);
                            background-color: rgba($primary-text, .35);
                            span{
                                color: $highlight-color;
                                opacity: 1;
                            }
                        }
                    }                                    
                }
            }
        }
        .copyright_text{
            width: 100%;
            display: block;
            .text_label{
                display: block;
                margin: 0;
                padding: 32px;
                text-align: center;
                color: $primary-text;
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: lighter;
                a{
                    color: $secondary-color;
                }
            }
        }
    }

    // section elements
    .section_el{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        .header_el{
            height: 50%;
            margin-left: 10%;
            margin-top: 10%;
        }
    }
}


// Media Optimization
@media only screen and (max-width: 1140px) {
    
}