// SASS WATCHER COMMAND
// sass --watch master.scss:style.min.css --style compressed

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap');
$font-primary: serif;
$font-secondary: 'Josefin Sans', sans-serif;
$primary-text: rgba(255,255,255,1);
$primary-color: #005868;
$secondary-color: #FFFF00;
$highlight-color: #BF1374;

/* width */
::-webkit-scrollbar {
    width: 4px;
    background-color: $primary-color;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(34,195,188);
    background: linear-gradient(0deg, rgba(34,195,188,1) 0%, rgba(253,223,45,1) 100%);
}
*{
    padding: 0;
    margin: 0;
}

// @mixins 
@mixin text-gradient{
    background-image: linear-gradient(to right top, #fff300, #dff200, #bdf000, #96ee00, #67eb12);
    background-clip: text;
    -webkit-background-clip: text; 
    text-fill-color: transparent; 
    -webkit-text-fill-color: transparent;
}

// Extends
                
// column styles
    %column_style{
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;                    
        width: 100%;
    }


body{
    font-family: $font-primary;    
    #wrapper{        
        min-height: 100vh;
        position: relative;
        backdrop-filter: blur(35px);
        background: rgb(0,18,2);
        background: linear-gradient(167deg, rgba(0,18,2,1) 0%, rgba(2,32,60,1) 47%, rgba(20,1,34,1) 100%);
        z-index: 1;
        .container{
            width: 100%;
            max-width: 1600px;
            padding-left: 16px;
            padding-right: 16px;
            box-sizing: border-box;
            overflow: hidden;
            margin: 0 auto;

            @media only screen and (max-width: 1440px){
                .container{
                    max-width: 990px;
                }
            }
            .row_100{
                width: 100%;
                height: auto;
                overflow: hidden;
                box-sizing: border-box;
                display: flex;

                .col-10{
                    max-width: 10%;
                    @extend %column_style;
                }
                .col-20{
                    max-width: 20%;
                    @extend %column_style;
                }
                .col-30{
                    max-width: 30%;
                    @extend %column_style;
                }
                .col-33{
                    max-width: 33.333%;
                    @extend %column_style;
                }
                .col-40{
                    max-width: 40%;
                    @extend %column_style;
                }
                .col-50{
                    max-width: 50%;
                    @extend %column_style;
                }
                .col-60{
                    max-width: 60%;
                    @extend %column_style;
                }
                .col-70{
                    max-width: 70%;
                    @extend %column_style;
                }
                .col-80{
                    max-width: 80%;
                    @extend %column_style;
                }
                .col-90{
                    max-width: 90%;
                    @extend %column_style;
                }
                .col-100{
                    max-width: 100%;
                    @extend %column_style;
                }
            }
        }


        // Default section styles
        section{
            height: auto;
            height: auto;
            box-sizing: border-box;
            overflow: hidden;
        }
        


        // primary navigation panel design
        .main_nav{
            width: 100%;
            padding: 12px 0;
            border-bottom: 1px solid rgba($secondary-color, 0.15);
            .logo{
                overflow: hidden;
            }
            .nav_items{
                padding: 0;
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;     
                justify-content: center;
                li{
                    display: inline-block;                    
                    margin: 0 12px;
                    padding: 16px;
                    a{
                        color: $primary-text;
                        position: relative;
                        text-decoration: none;
                        padding: 4px 8px;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: $font-secondary;
                        transition: ease 0.3s;
                        &:hover{
                            color: $secondary-color;
                            &::after{
                                content: "";
                                position: absolute;
                                top: -4px;
                                right: -4px;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                background-color: $secondary-color;
                            }
                        }
                    }                
                }
            }
            .hire_me_btn{
                display: flex;
                width: 100%;
                align-items: center;
                height: 100%;
                justify-content: end;
                a{
                    display: block;
                    color: white;
                    font-size: 18px;
                    font-family: $font-secondary;
                    text-decoration: none;
                    font-weight: 400;
                    background-color: $highlight-color;
                    padding: 12px 24px;
                    position: relative;
                    margin-right: 12px;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        margin-left: 4px;
                        margin-top: 4px;
                        background-color: $secondary-color;
                        z-index: -1;
                        transition: ease 0.3s;
                    }
                    &:hover{
                        &::after{
                            margin-left: 8px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }


        // header area design
        .header{
            position: relative;
            min-height: 100vh;
            display: flex;
            .header-content{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .heading_text{
                    font-size: 72px;
                    font-family: inherit;
                    font-weight: lighter;
                    color: $primary-text;
                    .hl_text{
                        color: $secondary-color;
                        text-decoration: underline;
                    }
                }
                .subheading_text{
                    font-size: 28px;
                    font-weight: lighter;
                    font-family: $font-secondary;
                    color: $primary-text;
                    line-height: 36px;
                    padding-right: 10%;
                    margin: 32px 0;
                }
                .raw_shape{
                    width: 100%;
                    height: 48px;                    
                    margin: 10% 0;                    
                    position: relative;
                    span{
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        top: 50%;
                        left: 25px;
                        margin-top: -3px;
                        margin-left: -3px;
                        border-radius: 50%;
                        background-color: $secondary-color;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 48px;
                        height: 48px;
                        border: 4px dotted white;
                        border-radius: 50%;
                        animation: spinInfinite 3s infinite linear forwards;
                        transform: rotate(360);
                        // opacity: 0.5;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 64px;
                        top: 50%;
                        border-bottom: 2px dotted white;
                        width: 60%;
                        margin-top: 1px;
                        opacity: 0.3;
                    }
                    @keyframes spinInfinite {
                        from{ 
                            transform: rotate(0deg);
                        }
                        to{
                            transform: rotate(360deg);
                        }
                    }
                }
            }

            .header-image{
                width: 100%;
                padding: 15% 0;
                transition: ease 0.3s;
                img{
                    width: 100%;
                    height: auto;
                    display: block;                    
                }
                &:hover{                    
                    transform: scale(0.95) skew(-0.01turn, 5deg); 
                    user-select: none;
                }
            }
            
        }


        // About me
        .about{
            padding: 60px 0;
            .container{
                position: relative;
                .about_heading{
                    font-size: 240px;
                    font-family: $font-secondary;
                    font-weight: lighter;
                    line-height: 180px;
                    color: rgba($secondary-color, .15);
                    position: absolute;
                    top: -20px;
                    left: 0;
                    z-index: -9;
                }
            }
            .about_me_typo{
                font-size: 54px;
                font-weight: lighter;
                color: $primary-text;
                font-family: $font-primary;                            
                text-align: center;
                line-height: 64px;
                margin: 0 auto;
                padding-top: 60px;
                max-width: 1290px;
                .skills{
                    display: block;
                    text-align: left;
                    color: $secondary-color;
                    text-decoration: underline;
                    @include text-gradient;
                }
            }
        }

        // Projects case study
        .projects{
            padding: 120px 0;
            .project_block{
                width: 98%;
                height: 640px;
                margin: 6px auto;                
                box-sizing: border-box;
                overflow: hidden;
                position: relative;
                border-radius: 16px;
                .area_title{
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    h1{
                        margin: 0;
                        font-size: 120px;
                        font-weight: bold;
                        font-family: $font-secondary;
                        color: $primary-text;
                    }
                }
                .project_cover{
                    display: block;
                    object-fit: cover;
                    object-position: left bottom;                    
                    width: 100%;
                    height: 100%;
                    transition: ease 0.5s;
                }

                .text_overlay{
                    position: absolute;
                    left: 0;
                    bottom: 0;                    
                    width: 100%;
                    height: auto;
                    z-index: 9;
                    box-sizing: border-box;
                    padding: 24px;
                    transform: translateY(100%);
                    transition: ease 0.7s;
                    .project_title{
                        font-size: 28px;
                        font-weight: lighter;
                        color: $primary-text;
                        margin: 12px 0;
                    }
                    .use_case{
                        font-size: 16px;
                        color: $primary-text;
                        font-family: $font-secondary;
                        font-weight: lighter;
                    }
                    .project_link{
                        color: $secondary-color;
                        font-size: 42px;
                        font-weight: lighter;
                        text-decoration: none;
                        display: block;
                        margin: 24px 0;
                        position: relative;
                        span{
                            position: absolute;
                            width: 24px;
                            height: 1px;
                            background-color: $secondary-color;
                            top: 50%;
                            right: 0;
                            transition: ease 0.3s;
                        }
                        &:hover{                            
                            span{
                                width: 48px;
                            }
                        }
                    }
                }

                &:hover{
                    .project_cover{
                        filter: blur(70px) opacity(0.5);
                        object-position: center;
                    }

                    .text_overlay{
                        transform: translateY(0);
                    }
                }
            }
            .external_link{
                display: block;
                text-align: right;
                padding: 12px 6px;
                font-size: 32px;
                font-family: $font-primary;
                font-style: italic;
                text-decoration: none;
                color: $primary-text;
                transition: ease 0.3s;
                span{
                    text-decoration: underline;
                    color: $secondary-color;
                }
                &:hover{
                    padding-right: 0px;
                }
            }
        }



        // Design Process
        .design_process{
            padding: 120px 0;
            display: flex;
                align-items: center;
            .container{                
                .glass_backg{
                    .heading_row{
                        display: block;
                        width: 100%;

                        .title{
                            font-size: 48px;
                            color: $primary-text;
                            font-family: $font-secondary;
                            margin: 12px 0;
                            display: block;
                            width: 100%;
                        }
                        .text_info{
                            display: block;
                            width: 100%;
                            font-size: 28px;
                            font-family: $font-secondary;
                            color: $primary-text;
                            font-weight: lighter;
                        }
                    }
                    .div-box{
                        background-color: red;
                        width: 100%;
                        height: 420px;
                        position: relative;

                        .process_type{
                            margin: 24px 0;
                            margin-top: 48px;
                            font-size: 28px;
                            font-weight: lighter;
                            font-family: $font-primary;
                            color: $secondary-color;
                        }
                        .process_brief{
                            margin: 0;
                            display: block;
                            padding-right: 25%;
                            font-size: 28px;
                            line-height: 36px;
                            font-family: $font-secondary;
                            font-weight: lighter;
                            color: $primary-text;
                            padding-bottom: 24px;
                        }
                    }
                }
            }
        }


        // working experiences
        .work_experiences{
            position: relative;
            .exp_title{
                font-size: 76px;
                font-family: $font-secondary;
                color: $primary-text;                
                display: block;
                position: absolute;
                transform: rotate(-90deg);
                top: 40%;   
                left: 0;             
            }
            .experience_card{
                width: 100%;                
                max-width: 990px;
                margin: 120px auto;
                .item{
                    margin: 0 auto;
                    padding-top: 24px;
                    transition: ease 0.3s;     
                    background-color: rgba($secondary-color, .05);     
                    padding: 24px;   
                    margin: 16px 0;
                    border-radius: 16px;
                    .duration{
                        font-family: $font-secondary;
                        font-size: 28px;
                        font-weight: lighter;
                        color: $primary-text;
                        margin: 12px 0;
                    }
                    .title{
                        margin: 12px 0;
                        font-size: 42px;
                        font-family: $font-primary;
                        font-weight: lighter;
                        color: $secondary-color;
                    }
                    .label{
                        margin: 0;
                        color: $primary-text;
                        font-family: $font-secondary;
                        font-size: 28px;
                        font-weight: lighter;
                        margin: 12px 0;
                        padding-bottom: 24px;
                    }
                    &:hover{
                        transform: translate(3px, -3px);
                        user-select: none;
                    }
                }
            }
        }


        // main_footer
        .main_footer{
            border: 1px solid rgba($secondary-color,0.15);
            border-left: 0;
            border-right: 0;
            .content_contact{
                height: 100%;
                border-left: 1px solid rgba($secondary-color,0.15);
                display: flex;
                align-items: center;
                padding: 24px;
                .title_txt{
                    font-size: 48px;
                    color: $secondary-color;
                    font-weight: lighter;
                    margin-bottom: 32px;
                }
                .info_txt{
                    font-size: 22px;
                    line-height: 28px;
                    color: $primary-text;
                    font-family: $font-secondary;
                    font-weight: lighter;
                }
            }
            .social-content{
                border-left: 1px solid rgba($secondary-color,0.15);
                border-right: 1px solid rgba($secondary-color,0.15);
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .nav{
                    width: 50%;
                    height: 320px;
                    border: 1px solid rgba($secondary-color,0.15);
                    box-sizing: border-box;
                    padding: 2px;
                    &:nth-child(1){
                        border-left: 0;
                        border-top: 0;
                    }
                    &:nth-child(2){
                        border-left: 0;
                        border-top: 0;
                        border-right: 0;
                    }
                    &:nth-child(3){
                        border: 0;
                        border-right: inherit;
                    }
                    &:nth-child(4){
                        border: 0;
                    }    
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 24px;
                        box-sizing: border-box;
                        transform: scale(0.98);
                        transition: ease 0.3s;
                        padding-top: 35%;
                        font-size: 22px;
                        font-family: $font-secondary;
                        text-decoration: none;
                        color: $primary-text;
                        position: relative;
                        svg{
                            height: 36px;
                        }
                        span{
                            display: block;
                            padding-left: 8px;
                            margin-top: 12px;
                        }
                        .imp_text{
                            position: absolute;
                            font-size: 28px;
                            font-family: $font-primary;
                            top: 12px;
                            right: 12px;
                            color: $highlight-color;
                            font-size: 24px;
                            opacity: 0;
                        }
                        &:hover{
                            transform: scale(1);
                            background-color: rgba($primary-text, 0.05);
                            .imp_text{
                                color: $primary-text;
                                opacity: 0.5;
                            }
                        }
                    }                                    
                }
            }
        }
        .copyright_text{
            width: 100%;
            display: block;
            .text_label{
                display: block;
                margin: 0;
                padding: 32px;
                text-align: center;
                color: $primary-text;
                font-family: $font-secondary;
                font-size: 16px;
                font-weight: lighter;
                a{
                    color: $secondary-color;
                }
            }
        }
    }

    // section elements
    .section_el{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        .header_el{
            height: 50%;
            margin-left: 10%;
            margin-top: 10%;
        }
    }
}




// sidepanle_data
.sidepanle_data{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 1280px;
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgba($primary-text, .75);
    box-sizing: border-box;
    z-index: 9;
    padding: 24px;
    backdrop-filter: blur(50px);
}


// Media Optimization
@media only screen and (max-width: 1140px) {
    
}