@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap");
/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 102, 114, 0.5);
  border-left: 1px solid #FFFF00;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
}

::-webkit-scrollbar-thumb {
  background: #AB00FF;
}

body {
  padding: 0;
  margin: 0;
}
body #wrapper {
  background-color: rgba(0, 102, 114, 0.5);
  min-height: 100vh;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(35px);
}
body #wrapper .container {
  width: 100%;
  max-width: 1600px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0 auto;
}
body #wrapper .container .row_100 {
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
}
body #wrapper .container .row_100 .col-10 {
  max-width: 10%;
}
body #wrapper .container .row_100 .col-20 {
  max-width: 20%;
}
body #wrapper .container .row_100 .col-30 {
  max-width: 30%;
}
body #wrapper .container .row_100 .col-40 {
  max-width: 40%;
}
body #wrapper .container .row_100 .col-50 {
  max-width: 50%;
}
body #wrapper .container .row_100 .col-60 {
  max-width: 60%;
}
body #wrapper .container .row_100 .col-70 {
  max-width: 70%;
}
body #wrapper .container .row_100 .col-80 {
  max-width: 80%;
}
body #wrapper .container .row_100 .col-90 {
  max-width: 90%;
}
body #wrapper .container .row_100 .col-100 {
  max-width: 100%;
}
body #wrapper .container .row_100 .col-10, body #wrapper .container .row_100 .col-20, body #wrapper .container .row_100 .col-30, body #wrapper .container .row_100 .col-40, body #wrapper .container .row_100 .col-50, body #wrapper .container .row_100 .col-60, body #wrapper .container .row_100 .col-70, body #wrapper .container .row_100 .col-80, body #wrapper .container .row_100 .col-90, body #wrapper .container .row_100 .col-100 {
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}
body #wrapper section {
  height: auto;
  min-height: 100vh;
}
body #wrapper nav.main_nav {
  width: 100%;
  padding: 12px 0;
}
body #wrapper nav.main_nav .logo {
  overflow: hidden;
}
body #wrapper nav.main_nav .nav_items {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #wrapper nav.main_nav .nav_items li {
  display: inline-block;
  margin: 0 12px;
}
body #wrapper nav.main_nav .nav_items li a {
  color: white;
  position: relative;
  text-decoration: none;
  padding: 3px 6px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}
body #wrapper nav.main_nav .nav_items li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  height: 1px;
  width: 0;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFFF00, #00FF22);
  transition: ease 0.3s;
  opacity: 0.5;
}
body #wrapper nav.main_nav .nav_items li a:hover {
  color: #00FF22;
}
body #wrapper nav.main_nav .nav_items li a:hover::after {
  width: 100%;
}
body #wrapper .header {
  position: relative;
  min-height: 100vh;
  display: flex;
}
body #wrapper .header .header-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
body #wrapper .header .header-content .heading_text {
  font-size: 72px;
  font-family: inherit;
  font-weight: lighter;
  color: white;
  text-transform: uppercase;
}
body #wrapper .header .header-content .heading_text span {
  color: #FFFF00;
  text-decoration: underline;
  display: block;
}
body #wrapper .header .header-content .subheading_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  font-weight: 200;
  color: white;
  line-height: 36px;
}
body #wrapper .about {
  min-height: 100vh;
}
body #wrapper .about .container {
  position: relative;
}
body #wrapper .about .container .about_heading {
  font-size: 320px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  line-height: 240px;
  color: rgba(62, 3, 255, 0.1);
  left: 0;
  position: absolute;
  top: 0;
  margin-top: 10px;
}
body #wrapper .about .about_me_typo {
  font-family: inherit;
  font-size: 42px;
  color: white;
  line-height: 64px;
  font-weight: lighter;
  text-align: center;
  max-width: 1260px;
  margin: 120px auto;
}
body #wrapper .about .about_me_typo span u {
  color: #FFFF00;
}
body #wrapper .projects {
  min-height: 100vh;
  overflow: visible;
}
body #wrapper .projects .project_title {
  color: #AB00FF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 100px;
  font-weight: bold;
  transform: rotate(270deg);
  line-height: inherit;
  margin-left: 50%;
}
body #wrapper .projects .projects_collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1280px;
  padding: 120px 0;
  margin: 0 auto;
  position: relative;
}
body #wrapper .projects .projects_collage::after {
  position: absolute;
  content: "";
  left: 50%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  height: 120%;
  bottom: 12px;
  z-index: 9;
}
body #wrapper .projects .projects_collage .item {
  background-color: red;
  box-sizing: border-box;
  overflow: hidden;
}
body #wrapper .projects .projects_collage .item img {
  display: block;
  object-fit: cover;
  object-position: center;
}
body #wrapper .projects .projects_collage .item a {
  display: block;
  position: relative;
}
body #wrapper .projects .projects_collage .item a .cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 5%;
  backdrop-filter: blur(100px);
  margin-top: 25%;
  opacity: 0;
  transition: ease 0.25s;
}
body #wrapper .projects .projects_collage .item a .cover h2 {
  position: absolute;
  bottom: 32px;
  font-size: 48px;
  color: #FFFF00;
  font-weight: lighter;
  display: none;
}
body #wrapper .projects .projects_collage .item a:hover .cover {
  margin-top: 0;
  opacity: 1;
}
body #wrapper .projects .projects_collage .item a:hover .cover h2 {
  display: block;
}
body #wrapper .projects .projects_collage .external_button {
  position: absolute;
  display: block;
  color: #AB00FF;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid white;
  background-color: white;
  z-index: 9;
  font-size: 16px;
  text-align: center;
  bottom: 6px;
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
}
body #wrapper .projects .projects_collage .external_button::after {
  position: absolute;
  content: "";
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 1px solid white;
  border-radius: 4px;
  transition: ease 0.3s;
  opacity: 0;
}
body #wrapper .projects .projects_collage .external_button:hover::after {
  left: -4px;
  right: -4px;
  top: -4px;
  bottom: -4px;
  opacity: 0.5;
}
body #wrapper .projects .projects_collage .abstractions {
  position: absolute;
  left: 100%;
  bottom: 30%;
  margin-left: -14px;
  z-index: -1;
}
body #wrapper .work_experiences {
  position: relative;
}
body #wrapper .work_experiences .project_title {
  font-size: 120px;
  font-family: "Josefin Sans", sans-serif;
  color: #AB00FF;
}
body #wrapper .work_experiences .experience_card {
  background-color: rgba(0, 102, 114, 0.15);
  max-width: 840px;
  padding: 12px;
  margin: 0 auto;
  position: static;
  margin-top: -120px;
  padding: 24px;
}
body #wrapper .work_experiences .experience_card .item {
  color: white;
  border-bottom: 1px dashed #fff;
  margin: 14px;
}
body #wrapper .work_experiences .experience_card .item:nth-last-child(1) {
  border-bottom: none;
}
body #wrapper .work_experiences .experience_card .item p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  font-weight: lighter;
  margin: 16px 0;
}
body #wrapper .work_experiences .experience_card .item h3 {
  font-family: inherit;
  font-size: 48px;
  font-weight: normal;
  margin: 16px 0;
}
body #wrapper .main_footer {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
body #wrapper .main_footer .content {
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  padding: 24px;
  align-items: center;
}
body #wrapper .main_footer .content h1 {
  bottom: 32px;
  font-size: 48px;
  color: #FFFF00;
  font-weight: lighter;
}
body #wrapper .main_footer .content p {
  font-size: 18px;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}
body #wrapper .main_footer .social-content {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
body #wrapper .main_footer .social-content .nav {
  width: 50%;
  height: 320px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  padding: 1px;
}
body #wrapper .main_footer .social-content .nav:nth-child(1) {
  border-left: 0;
  border-top: 0;
}
body #wrapper .main_footer .social-content .nav:nth-child(1) a:hover svg > path {
  fill: #1100FF !important;
}
body #wrapper .main_footer .social-content .nav:nth-child(2) {
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
body #wrapper .main_footer .social-content .nav:nth-child(3) {
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
body #wrapper .main_footer .social-content .nav:nth-child(4) {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}
body #wrapper .main_footer .social-content .nav a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  transform: scale(0.98);
  transition: ease 0.3s;
  padding-top: 35%;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
}
body #wrapper .main_footer .social-content .nav a svg {
  height: 36px;
}
body #wrapper .main_footer .social-content .nav a span {
  display: block;
  padding-left: 8px;
  margin-top: 12px;
}
body #wrapper .main_footer .social-content .nav a:hover {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.5);
}
body #wrapper .main_footer .social-content .nav a:hover span {
  color: #000000;
}
body .section_el {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: -1;
}
body .section_el .header_el {
  height: 480px;
  margin-left: 10%;
}
body .section_el .about_el {
  height: 480px;
  margin-left: 25%;
}

/*# sourceMappingURL=style.css.map */
